<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Indonesia berbagi</title>

  {{ style('assets/modules/bootstrap/css/bootstrap.min') }}
  {{ style('assets/modules/fontawesome/css/all.min') }}
  {{ style('assets/modules/select2/dist/css/select2.min.css') }}
  {{ style('assets/css/style') }}
  {{ style('assets/css/components') }}
  
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
</head>

<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">